GATEWAY_PORT=3000

AUTH_HOST=localhost
AUTH_TCP_PORT=4001

POSTGRES_PORT=5432
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=auth_db

AUTH_DATABASE_URL=postgresql://app_user:app_password@localhost:5432/auth_db?schema=public

JWT_SECRET=change-this-development-secret
JWT_EXPIRES_IN=7d